#content {
  position: relative;
  padding: 60px 0 0;
  &.main_content {
    padding: 60px 0 119px;
    .note_list {
      position: relative;
      padding: 30px 0 0;
      .note_add_wrap {
        position: relative;
        height: 137px;
        padding: 0 0 40px;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 95px;
          height: 90px;
          background: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 55.21%, rgba(255, 255, 255, 0) 100%);
          transform: rotate(-180deg);
          z-index: 0;
        }
        .note_add {
          position: absolute;
          left: 24px;
          top: 2px;
          width: 64px;
          height: 64px;
          z-index: 1;
          &.on {
            &:after {
              content: '';
              position: absolute;
              width: 64px;
              height: 64px;
              top: -2px;
              bottom: -2px;
              left: -2px;
              right: -2px;
              @include imageUrl(circle_64x64,svg);
              z-index: 0;
              animation: circle 2s linear infinite;
            }
            button {
              background-color: var(--black-color);
              .text {
                color: var(--black-color);
                transition: all 0.6s ease;
              }
            }
          }
          button {
            position: relative;
            --borderWidth: 2px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #BFBFBF;
            z-index: 1;

            &:before {
              content:'';
              position: absolute;
              left: 50%;
              top: 50%;
              width: 24px;
              height: 24px;
              margin: -12px 0 0 -12px;
              background: url(../images/plus_24x24.svg) no-repeat;
              //@include imageUrl(common_sprite, png);
            }
            .text {
              position: absolute;
              left: 0;
              bottom: -28px;
              width: 60px;
              font-size: 14px;
              color: #999;
            }
          }
        }
        .note_tab_wrap {
          position: relative;
          width: 100%;
          overflow: auto;
          padding: 2px 0 0;
          ul {
            position: relative;
            display: inline-flex;
            padding: 0 24px 0 104px;
            z-index: 0;
            li {
              position: relative;
              width: 64px;
              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 64px;
                height: 64px;
                background-color: #F3F3F3;
                border-radius: 64px;
              }
              + li {
                margin-left: 16px;
              }

              a {
                display: block;
                height: 90px;
                .img {
                  position: absolute;
                  left: 50%;
                  top: 16px;
                  display: block;
                  width: 32px;
                  height: 32px;
                  margin: 0 0 0 -16px;
                  z-index: 1;
                  img {
                    width: 100%;
                  }
                }
                .title {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  text-align: center;
                  font-size: 14px;
                  color: #999;
                }
              }
              &.active {
                &:before {
                  content: '';
                  position: absolute;
                  width: 64px;
                  height: 64px;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  @include imageUrl(circle_64x64,svg);
                  z-index: 1;
                  animation: circle 2s linear infinite;
                }
                .title {
                  color: var(--black-color);
                }
              }
            }
          }
        }
      }
    }

    .note_wrap {
      position: relative;
      .note_wrap__content {
        padding: 0 0 80px;
        .no_note {
          width: calc(100% - 48px);
          height: 400px;
          margin: 0 auto;
          border-radius: 20px;
          border: 1px dashed #E5E5E5;
          box-shadow: 0px 20px 28px rgba(106, 106, 106, 0.1);
          p {
            position: relative;
            padding: 221px 0 0;
            color: #999;
            text-align: center;
            line-height: 24px;
            &:after {
              content: "";
              position: absolute;
              left: 50%;
              top: 131px;
              width: 80px;
              height: 80px;
              margin: 0 0 0 -40px;
              @include imageUrl(none_gonggi,svg);
            }
          }
        }
        .swiper {
          padding: 0 24px;
          .swiper-slide {
            width: 280px;
            .swiper-slide__image {
              position: relative;
              width: 280px;
              height: 320px;
              border-radius: 20px;
              overflow: hidden;
              box-shadow: 0px 20px 28px rgba(106, 106, 106, 0.3);
              &:after {
                content: "";
                position: absolute;
                width: 280px;
                height: 260px;
                left: 0;
                bottom: 0;
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
              }
              img {
                width: 100%;
              }
              .category {
                position: absolute;
                left: 20px;
                top: 20px;
                height: 24px;
                padding: 0 10px;
                background: rgba(41, 43, 49, 0.7);
                border-radius: 4px;
                font-size: 12px;
                color: #fff;
              }

              .favorites {
                position: absolute;
                left: 22px;
                bottom: 20px;
                padding: 0 0 0 22px;
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                z-index: 1;

                strong {
                  font-weight: 500;
                }

                &:after {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 2px;
                  width: 16px;
                  height: 16px;
                  @include imageUrl(star_favorites, svg);
                }
              }
            }
            .note_info {
              margin-top: 26px;
              .justifyWrap {
                strong {
                  font-weight: 500;
                }
                .btn_private {
                  position: relative;
                  width: 54px;
                  height: 24px;
                  font-size: 12px;
                  &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 24px;
                    @include imageUrl(btn_private,svg);
                  }
                  &.on {
                    width: 65px;
                    &:after {
                      @include imageUrl(btn_private_off,svg);
                    }
                  }
                }
                .btn_subscribe {
                  position: relative;
                  width: 54px;
                  height: 24px;
                  font-size: 12px;
                  &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 24px;
                    @include imageUrl(btn_subscribe,svg);
                  }
                  &.on {
                    width: 65px;
                    &:after {
                      @include imageUrl(btn_subscribe_on,svg);
                    }
                  }
                }
              }
              .text {
                margin-top: 6px;
                font-size: 14px;
                color: #666;
                line-height: 22px;
              }
            }
          }
        }
      }
    }

    .banner_wrap {
      .swiper-slide {
        img {
          width: 100%;
        }
      }
      .swiper-pagination {
        position: absolute;
        width: auto;;
        left: initial;
        right: 24px;
        bottom: 16px;
        height: 24px;
        padding: 0 10px;
        border-radius: 100px;
        background: rgba(41, 43, 49, 0.5);
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        span {
          color: #fff;
          font-size: 12px;
          *.swiper-pagination-current {
            font-weight: 500;
          }
          &.swiper-pagination-total {
            font-weight: 300;
          }
        }
      }
    }

    .piece_wrap {
      padding: 80px 0 0;
      .title_wrap {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
        h2.title {
          position: relative;
          font-size: 18px;
          font-weight: 500;
        }
        .btn_more {
          position: relative;
          padding: 0 20px 0 0;
          font-size: 14px;
          color: #666;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 6px;
            height: 10px;
            margin-top: -4px;
            @include imageUrl(btn_more_arrow,svg);
          }
        }
      }
      .piece_wrap__list {
        position: relative;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 40px;
        overflow-y: hidden;
        overflow-x: auto;
        ul {
          position: relative;
          display: inline-flex;
          padding: 0 24px;
          li {
            position: relative;
            width: 64px;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 64px;
              height: 64px;
              background-color: #F3F3F3;
              border-radius: 64px;
            }
            + li {
              margin-left: 16px;
            }
            a {
              display: block;
              height: 90px;
              .text_img {
                position: relative;
                display: flex;
                width: 64px;
                height: 64px;
                font-size: 24px;
                z-index: 1;
                align-items: center;
                justify-content: center;
                img {
                  width: 100%;
                }
              }
              .text {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #999;
                margin-top: 4px;
              }
            }
            &.active {
              &:before {
                content: '';
                position: absolute;
                width: 64px;
                height: 64px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @include imageUrl(circle_64x64,svg);
                z-index: 1;
                animation: circle 2s linear infinite;
              }
              .text {
                color: var(--black-color);
              }
            }

          }
        }
      }
      .piece_item {
        .piece_item__image {
          position: relative;
          overflow: hidden;
          height: 260px;
          background-color: #000;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 260px;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
          }
          .category {
            position: absolute;
            left: 20px;
            top: 20px;
            height: 24px;
            padding: 0 10px;
            background: rgba(41, 43, 49, 0.7);
            border-radius: 4px;
            font-size: 12px;
            color: #fff;
          }
          .like {
            position: absolute;
            left: 22px;
            bottom: 20px;
            padding: 0 0 0 22px;
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            z-index: 1;

            strong {
              font-weight: 500;
            }

            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 3px;
              width: 16px;
              height: 14px;
              @include imageUrl(heart_like, svg);
            }
          }
        }
        .piece_item__content {
          padding: 24px 24px 40px;
          .comment_area {
            .comment_box {
              display: flex;
              .comment_thumb {
                display: inline-block;
                position: relative;
                width: 42px;
                height: 42px;
                overflow: hidden;
                border-radius: 42px;
                margin-right: 8px;
                img {
                  width: 100%;
                }
              }
              .comment_nick {
                * {
                  display: block;
                }
                strong {
                  line-height: 22px;
                  font-size: 14px;
                  font-weight: 500;
                }
                .text {
                  line-height: 20px;
                  font-size: 12px;
                  color: #999;
                }
              }
            }

            .comment_text {
              margin-top: 12px;
              font-size: 14px;
              color: #333;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  &.sub_content {

  }
}

.advertisement {
  position: relative;
  img {
    width: 100%;
  }
}

@keyframes circle {
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

/* Input Wrap */
.input_wrap {
  position: relative;

  .input_inner {
    position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    input[type="text"],input[type="password"],input[type="number"],input[type="date"],input[type="email"],input[type="tel"] {
      width: 100%;
      height: 48px;
      padding: 0 45px 0 16px;
      line-height: 48px;
      border: 0;
      border-radius: 8px;
      outline: none;
    }
    &.focus {
      border-color: #000;
    }
    + .input_inner {
      margin-top: 8px;
    }

    &.active {
      .btn_show {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 16px;
        top: 12px;
        @include imageUrl(icon_eye,svg);
      }
    }
  }
  .btn_delete {
    display: none;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 24px;
    height: 24px;
    @include imageUrl(input_clear,svg);
  }
  .font_size {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #999;
    * {
      color: #999;
      margin: 0 2px;
    }
  }
  .text_close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    @include imageUrl(text_clear,svg);
    z-index: 2;
  }
  &.gonggi_name {
    input[type="text"] {
      width: calc(100% - 30px);
      outline: none;
    }
    .text_close {
      right: 50px;
    }
  }
  &.input_button {
    display: flex;
    gap: 8px;
    .input_inner {
      width: calc(100% - 90px);
    }
  }
  .btn_duplication {
    display: flex;
    align-items: center;
    width: 90px;
    background-color: #556B79;
    height: 48px;
    color: #fff;
    border-radius: 8px;
    justify-content: center;
  }
}
.message {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

/* Sub Content*/
.sub_content {
  .note_detail_wrap {
    .note_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      .thumb_img {
        margin-right: 12px;
        width: 42px;
        height: 42px;
        border-radius: 42px;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
      .note_info_box {
        display: flex;
        align-items: center;
        .info {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          span {
            display: block;
            &.name {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
            }
            &.subscriber {
              color: #999;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
      .btn_more {
        position: relative;
        width: 24px;
        height: 24px;
        @include bgImage(0,0,btn_more,svg) {
          width: 24px;
          height: 24px;
        }
      }
    }

    .visual_img {
      position: relative;
      height: 380px;
      overflow: hidden;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 0;
        width: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 74.43%);
      }

      .right_top {
        position: absolute;
        right: 24px;
        top: 20px;
        z-index: 2;
        button {
          margin-left: 8px;
        }
      }
      .bottom {
        position: absolute;
        left: 24px;
        bottom: 20px;
        padding: 0 24px 0 0;
        z-index: 1;
        * {
          color: #fff;
        }
        .category {
          display: inline-block;
          font-size: 12px;
          border-radius: 4px;
          padding: 2px 10px;
          background: rgba(41, 43, 49, 0.7);
          text-align: center;
          line-height: 20px;
        }
        strong {
          display: block;
          font-size: 18px;
          margin: 12px 0 4px;
          line-height: 26px;
        }
        p {
          line-height: 24px;
        }
      }
    }
    .btn_wrap {
      padding: 0 24px 30px;
    }
  }

  .info_area {
    padding: 30px 24px;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        position: relative;
        text-align: center;
        width: 25%;
        span {
          display: block;
          &.title {
            font-size: 12px;
            color: #999;
            line-height: 20px;
          }
          &.num {
            color: #333;
            font-size: 16px;
            line-height: 24px;
          }
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 20px;
          margin-top: -10px;
          background: #DCDDE2;
        }
        &:first-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .memory_area {
    &.picec_type2 {
      .memory_wrap {
        .memory_item {
          .time_wrap {
            .time {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                @include imageUrl(icon_mark2,png);
                background-size: 100%;
              }
            }
          }
        }
        .text:after,.download:after,.img_wrap:after,.link:after {
          border-left-color: #C9E1F4;
        }
      }
    }
    &.picec_type3 {
      .memory_wrap {
        .memory_item {
          .time_wrap {
            .time {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                @include imageUrl(icon_mark3, png);
                background-size: 100%;
              }
            }
          }
        }
        .text:after,.download:after,.img_wrap:after,.link:after {
          border-left-color: #FEE499;
        }
      }
    }
    &.picec_type4 {
      .memory_wrap {
        .memory_item {
          .time_wrap {
            .time {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                @include imageUrl(icon_mark4, png);
                background-size: 100%;
              }
            }
          }
        }
        .text:after,.download:after,.img_wrap:after,.link:after {
          border-left-color: #F2D0E2;
        }
      }
    }
    &.picec_type5 {
      .memory_wrap {
        .memory_item {
          .time_wrap {
            .time {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                @include imageUrl(icon_mark5, png);
                background-size: 100%;
              }
            }
          }
        }
        .text:after,.download:after,.img_wrap:after,.link:after {
          border-left-color: #C3EBD3;
        }
      }
    }
    .memory_wrap {
      position: relative;
      padding: 30px 24px;
      &:after {
        content: "";
        position: absolute;
        left: 24px;
        bottom: 0;
        width: calc(100% - 48px);
        height: 1px;
        background-color: #E7E9EE;
      }
      .calendar {
        width: 100%;
        height: 40px;
        text-align: center;
        margin: 0 auto 20px;

        button {
          display: inline-block;
          position: relative;
          padding: 0 16px;
          background-color: #F7F7F8;
          border-radius: 100px;
          height: 40px;
          span {
            position: relative;
            font-size: 14px;
            line-height: 22px;
            color: #757D95;
            padding: 0 22px 0 0;
            &:after {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              width: 20px;
              height: 20px;
              @include imageUrl(arrow_down,svg)
            }
          }
        }
      }
      .memory_item {
        .time_wrap {
          position: relative;
            .time {
              font-size: 14px;
              position: relative;
              padding: 0 0 0 37px;
              line-height: 22px;
              color: #999;
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                @include imageUrl(icon_mark1,png);
                background-size: 100%;
              }
            }
            .btn_more {
              width: 20px;
              height: 20px;
              @include imageUrl(btn_more_20x20,svg);
            }
        }
      }
      .text {
        position: relative;
        margin: 10px 0 20px;
        padding: 0 0 0 37px;
        line-height: 22px;
        color: #333;
        font-size: 14px;
        height: 66px;
        overflow: hidden;
        &.full {
          //height: auto;
        }
        &:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 0;
          height: 100%;
          border-left: 1.5px dashed #FFD2BF;
      }
      .btn_text_more {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        color: #999;
        vertical-align: top;
        background-color: #fff;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
        }
      }
    }
      .download {
        position: relative;
        margin: 10px 0 20px;
        padding: 0 0 0 37px;
        &:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 0;
          height: 100%;
          border-left: 1.5px dashed #FFD2BF;
        }
        a {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          height: 64px;
          border: 1px solid #d4d4d4;
          border-radius: 0 10px 10px 10px;
          padding: 0 44px 0 58px;
          &:before {
            content: "";
            position: absolute;
            right: 16px;
            top: 20px;
            width: 20px;
            height: 20px;
            @include imageUrl(bg_download,svg);
          }
          &.pdf {
            @include bgImage(16px,16px, bg_pdf,svg) {
              width: 32px;
              height: 32px;
            };
          }
          &.excel {
            @include bgImage(16px,16px, bg_xls,svg) {
              width: 32px;
              height: 32px;
            };
          }
          .title {
            font-size: 14px;
            line-height: 22px;
            color: #333;
          }
          .size {
            font-size: 12px;
            line-height: 20px;
            color: #999;
          }
        }
      }
      .btn_comment {
        position: relative;
        margin: 0 0 0 37px;
        padding: 0 0 0 26px;
        font-size: 14px;
        color: #888;
        @include bgImage(0,0,bg_comment,svg){
          width: 24px;
          height: 24px;
        }
      }
      .img_wrap {
        position: relative;
        margin: 10px 0 20px;
        padding: 0 0 0 37px;
        display: flex;
        flex-wrap: wrap;
        &:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 0;
          height: 100%;
          border-left: 1.5px dashed #FFD2BF;
        }
        .item {
          width: calc(50% - 4px);
          overflow: hidden;
          border-radius: 4px;
          margin: 4px 0 0 4px;
          img {
            width: 100%;
          }
        }
        &.big {
          display: block;
          .item {
            width: 100%;
            height: auto !important;
          }
        }
      }
      .link {
        position: relative;
        margin: 10px 0 20px;
        padding: 0 0 0 37px;
        &:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 0;
          height: 100%;
          border-left: 1.5px dashed #FFD2BF;
        }
        a {
          font-size: 14px;
          color: #2458A5;
          line-height: 22px;
          text-decoration: underline;
        }
      }
    }
  }
}

.add_content {
  .title {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #000;
    line-height: 22px;
  }
  .date_input {

    input {
      outline: none;
    }
    > button {
      position: absolute;
      right: 16px;
      top: 12px;
      width: 24px;
      height: 24px;
      @include imageUrl(icon_calendar,svg);
    }
  }
}
.text_area {
  border: 1px solid #d4d4d4;
  height: 96px;
  border-radius: 8px;
  textarea {
    width: 100%;
    height: 100%;
  }
}
.text_count {
  margin-top: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  color: #757575;
}

.image_wrap {
  display: flex;
  height: 80px;
  overflow: hidden;
  margin-bottom: 8px;
  .btn_photo {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    border: 1px dashed #d4d4d4;
    border-radius: 8px;
    padding: 25px 0 0;
    font-size: 12px;
    color: #757575;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 16px;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      @include imageUrl(icon_camera,svg);
    }
    .current {
      font-size: 12px;
      color: #000;
    }
  }
  .photo_list {
    display: flex;
    margin-left: 8px;
    flex-wrap: nowrap;
    width: calc(100% - 88px);
    overflow-x: auto;
    gap: 0 8px;
    .item {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 8px;
      overflow: hidden;
      flex: 0 0 auto;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2px);
        height:  calc(100% - 2px);
        border: 1px solid #d4d4d4;
        border-radius: 8px;
      }
      img {
        width: 100%;
      }
      .btn_del {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px;
        height: 20px;
        @include imageUrl(photo_clear,svg);
        z-index: 2;
      }
    }
  }
}

.file_box {
  position: relative;
  height: 50px;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  label {
    display: inline-block;
    padding: 12px 14px;
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
  }
  .upload_name {
    display: inline-block;
    padding: 12px 16px;  /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
  }
  .file_del {
    display: none;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 24px;
    height: 24px;
    @include imageUrl(file_clear,svg);
    z-index: 2;
  }
}
.full_popup {

  .full_popup__header {
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    h2.title {
      line-height: 60px;
      font-size: 18px;
      text-align: center;
    }
    .popup_close {
      position: absolute;
      right: 24px;
      top: 16px;
      width: 28px;
      height: 28px;
      @include imageUrl(close_28x28,svg);
    }
  }
  .full_popup__body {
    padding: 84px 24px 130px;
    .item_area {
      + .item_area {
        margin-top: 40px;
      }
    }
  }
}
.item_area {
  position: relative;
  .title {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    margin-bottom: 8px;
    font-weight: 500;
  }
  .tip_text {
    font-size: 13px;
    color: #666;
    line-height: 20px;
  }
  .error_message {
    display: none;
  }
  &.error {
    .input_inner {
      border-color: #E53A4C;
    }
    .error_message {
      display: block;
      color: #E53A4C;
      font-size: 12px;
      margin-top: 4px;
    }
    .selected_value {
      border-color: #E53A4C;

    }
  }
}

.select_wrap {
  position: relative;
  height: 48px;
  z-index: 0;
  .selected_value {
    display: flex;
    position: relative;
    align-items: center;
    height: 48px;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    padding: 0 44px 0 16px;
    color: #BFBFBF;
    transition: .3s ease;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 14px;
      width: 20px;
      height: 20px;
      @include imageUrl(bracket_down_black,svg);
      transition: 0.7s ease;
    }
  }
  .option_wrap {
    opacity: 0;
    position: absolute;
    top: 47px;
    width: 100%;
    min-height: 99px;
    max-height: 290px;
    overflow: auto;
    border: 1px solid #333;
    border-radius: 0 0 8px 8px;
    visibility: hidden;
    background-color: #fff;
  }
  .option_list {
    position: relative;
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
    transition: .3s ease;
    background-color: #fff;
    z-index: 2;
    li {
      position: relative;
      display: flex;
      height: 48px;
      align-items: center;
      color: #333;
      + li {
        border-top: 1px solid #e6e6e6;
      }
      &.on {
        color: #FB5910;
        &:after {
          content: "";
          position: absolute;
          left: -14px;
          top: -1px;
          width: calc(100% + 32px);
          height: calc(100% + 2px);
          background-color: #F7F7F7;
          z-index: -1;
        }
      }
    }
  }

  &.active {
    z-index: 2;
    .selected_value {
      color: #333;
      border-color: #333;
      border-radius: 8px 8px 0 0;
      &:after {
        transform: rotate(180deg);
      }
    }
    .option_wrap {
      opacity: 1;
      visibility: visible;
    }
  }
  &.on {
    .selected_value {
      color: #333;
    }
  }
}

.comment_notice {
  position: relative;
  height: 76px;
  background-color: #F2F4F6;
  padding: 16px 24px 16px 54px;
  color: #8D94A0;
  font-size: 14px;
  line-height: 22px;
  &:after {
    content: "";
    position: absolute;
    left: 24px;
    top: 18px;
    width: 20px;
    height: 22px;
    @include imageUrl(icon_abuse,png);
    background-size: 100%;
  }
}
.comment_wrap {
  position: relative;
  height: calc(100vh - 228px);
  .no_text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -42px;
    padding: 60px 0 0;
    color: #BBBBBB;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      @include imageUrl(bg_none,svg);
      width: 52px;
      height: 52px;
      margin-left: -26px;
    }
  }
}
.comment_regist {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 92px;
  max-height: 118px;
  padding: 0 0 0 78px;
  border-top: 1px solid #E7E9EE;
  .comment_thumb {
    position: absolute;
    left: 24px;
    bottom: 34px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .comment_box {
    position: relative;
    width: calc(100% - 66px);
    padding: 0;
    top: 26px;
    textarea {
      height: 22px;
      padding: 0;
      font-size: 14px;
      line-height: 22px;
      outline: none;
      vertical-align: top;
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  .btn_register {
    position: absolute;
    right: 24px;
    bottom: 44px;
    font-size: 14px;
    line-height: 22px;
    color: #FB5910;
    &:disabled {
      color: #bbb;
    }
  }
}

.menu_list {
  padding: 0 24px 50px;
  .title {
    font-size: 14px;
    line-height: 22px;
    margin: 50px 0 8px;
    color: #999;
    &:first-child {
      margin-top: 40px;
    }
  }
  .menu_list__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    a {
      flex: 1;
    }
    span {
      padding: 0 0 0 34px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
    }
    &.memory:after {
      @include imageUrl(icon_Egg,svg);
    }
    &.mypage_info:after {
      @include imageUrl(icon_info,svg);
    }
    &.mypage_pw:after {
      @include imageUrl(icon_pw,svg);
    }
    &.mypage_admin:after {
      @include imageUrl(icon_admin,svg);
    }
    &.customer_notice:after {
      @include imageUrl(icon_notice,svg);
    }
    &.customer_inquiry:after {
      @include imageUrl(icon_inquiry,svg);
    }
    &.customer_service:after {
      @include imageUrl(icon_service,svg);
    }
    &.app_login,&.app_version {
      display: flex;
      justify-content: space-between;
    }
    &.app_login:after {
      @include imageUrl(icon_lock,svg);
    }
    &.app_version {
      span:last-child {
        color: #667286;
        font-size: 14px;
        line-height: 22px;
      }
    }
    &.app_version:after {
      @include imageUrl(icon_version,svg);
    }
    &.customer_notice {
      .new {
        background-color: #FCF4ED;
        width: 42px;
        height: 26px;
        padding: 0 8px;
        border-radius: 100px;
        font-size: 12px;
        color: #EDA36D;
        line-height: 26px;
      }
    }
    .text {
      display: flex;
      flex: 1;
    }
  }
}

.button_switch {
  position: relative;
  top: 50%;
  width: 40px;
  height: 24px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100px;
  background-color: #d9d9d9;
  transition: 0.5s ease;
  &.on {
    background-color: #FB5910;
  }
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:active {
      + .knobs {
        &:before {
          width: 30px;
          border-radius: 100px;
        }
      }
    }
    &:checked {
      &:active {
        + .knobs {
          &:before {
            margin-left: -15px;
          }
        }
      }
      ~ .layer {
        background-color: #fcebeb;
      }
      + .knobs {
        &:before {
          content: '';
          left: 18px;
          background-color: #fff;
        }
      }
    }
  }
  .knobs {
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      color: #fff;
      line-height: 1;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }
  }
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
}

.total_menu {
  .total_menu__header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
  }
  .right_area {
    position: absolute;
    top: 16px;
    right: 24px
  }

  .total_menu__body {
    padding: 84px 0 0;
  }
}
.my_info_wrap {
  padding: 24px 24px 34px;
  .btn_wrap {
    margin-top: 40px;
    padding: 0;
  }
}
.my_info {
  .photo_area {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 12px;
    border-radius: 100%;
    @include imageUrl(character,svg);
    background-size: 60px;
    background-position: 20px 20px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border: 1px solid #f8f8f8;
      border-radius: 100%;
      background-color: #F8F8F8;
      z-index: -1;
    }
    .btn_profile {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        @include imageUrl(icon_profile,svg);
      }
    }
    .photo {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .my_info__text {
    text-align: center;
    a {
      position: relative;
      font-size: 20px;
      line-height: 28px;
      margin-top: 12px;
      &:after {
        content: "";
        position: absolute;
        right: -24px;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        @include imageUrl(bracket_right,svg);
      }
    }
    .my_nickname {
      display: block;
      font-size: 20px;
      line-height: 28px;
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px;
      font-size: 14px;
      line-height: 22px;
      color: #999;
      .btn_logout {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 24px;
        margin-left: 8px;
        padding: 0 8px;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

.random_draw {
  position: relative;
  height: 94px;
  margin-top: 60px;
  background-color: #FFF8F3;
  border-radius: 18px;
  button {
    position: relative;
    display: block;
    width: 100%;
    padding: 24px;
    text-align: left;
    cursor: pointer;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    right: 24px;
    top: 27px;
    width: 40px;
    height: 40px;
    @include imageUrl(orange_gonggi01,svg);
    background-size: 100%;
    z-index: 0;
  }
  * {
    display: block;
  }
  strong {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #FB5910;
  }
  span {
    margin-top: 2px;
    line-height: 22px;
    color: #333;
  }
}

.sns_list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 0 42px;
    margin: 24px 0 0;
    span {
      color: #333;
    }
    button {
      font-size: 14px;
      text-decoration: underline;
      color: #999;
      &.on {
        color: #FB5910;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
    }
    &.kakao:after {
      @include imageUrl(icon_kakao,svg);
    }
    &.naver:after {
      @include imageUrl(icon_naver,svg);
    }
    &.googel:after {
      @include imageUrl(icon_google,svg);
    }
    &.apple:after {
      @include imageUrl(icon_apple,svg);
    }
  }
}

.notice_wrap {
  padding: 4px 24px;
  .item {
    a {
      display: block;
      position: relative;
      padding: 20px 0;
      * {
        display: block;
      }
      .date {
        margin-top: 4px;
        font-size: 14px;
        line-height: 22px;
        color: #666;
      }
    }
    border-bottom: 1px solid #E7E9EE;
  }
}
.view_area {
  padding: 20px 0 0;
  .title_area {
    border-bottom: 1px solid #E7E9EE;
    padding: 0 0 30px;
    .title {
      display: block;
      font-size: 20px;
      line-height: 28px;
    }
    .date {
      display: block;
      font-size: 14px;
      margin-top: 8px;
      color: #666;
    }
  }
  .view_area__content {
    padding: 30px 0;
  }
}
.subcriber_wrap {
  padding: 0 24px;
  .item {
    display: flex;
    border-bottom: 1px solid #E7E9EE;
    padding: 20px 0;
    gap: 12px;
    .thumb {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 40px;
      img {
        width: 100%;
      }
    }
    .justify {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        font-size: 14px;
        line-height: 22px;
        color: #999;
        text-decoration: underline;
        &.on {
          color: #FB5910;
        }
      }
    }
  }
  .no_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    p {
      position: relative;
      padding: 60px 0 0;
      font-size: 16px;
      color: #bbb;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 52px;
        height: 52px;
        margin-left: -26px;
        @include imageUrl(bg_none,svg);
      }
    }
  }
}

.inquiry_wrap {
  .view_area {
    padding: 24px 24px 0;
    .complete {
      display: inline-block;
      margin-bottom: 12px;
      padding: 0 8px;
      font-size: 12px;
      border: 1px solid #FB5910;
      background-color: #FB5910;
      border-radius: 4px;
      height: 20px;
      line-height: 20px;
      color: #fff;
    }
    .date {
      display: block;
      font-size: 14px;
      line-height: 22px;
      color: #666;
      span {
        position: relative;
        margin-left: 20px;
        font-size: 14px;
        line-height: 22px;
        color: #666;
        &:after {
          content: "";
          position: absolute;
          left: -10px;
          top: 5px;
          width: 1px;
          height: 12px;
          background-color: #DCDDE2;
        }
      }
    }
    .view_area__content {
      padding: 30px 0 40px;
    }
  }
  .agent_answer {
    padding: 30px 24px 50px;
    background-color: #F9F9FB;
    strong {
      display: block;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      padding: 0 0 0 30px;
      @include imageUrl(icon_reservation,svg);
    }
  }
}

.tab_wrap {
  #tab {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: -24px;
      bottom: 0;
      width: calc(100% + 24px);
      height: 1px;
      border-bottom: 1px solid #E5E5E5;
      z-index: -1;
    }
    li {
      position: relative;
      flex: 1;
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
      }
      &.on {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 6px;
          border-radius: 5px 5px 0 0;
          background-color: #000;
        }
      }
    }
  }
  #tab__con {
    padding: 0 24px;
  }
}

.history {
  .item {
    border-bottom: 1px solid #E7E9EE;
    a {
      display: block;
      padding: 20px 0;
      .waiting {
        display: inline-block;
        padding: 0 8px;
        font-size: 12px;
        border: 1px solid #556B79;
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
      }
      .complete {
        display: inline-block;
        padding: 0 8px;
        font-size: 12px;
        border: 1px solid #FB5910;
        background-color: #FB5910;
        border-radius: 4px;
        height: 20px;
        line-height: 20px;
        color: #fff;
      }
      .title {
        display: block;
        margin: 8px 0 4px;
      }
      .date {
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: #666;
        span {
          position: relative;
          margin-left: 20px;
          font-size: 14px;
          line-height: 22px;
          color: #666;
          &:after {
            content: "";
            position: absolute;
            left: -10px;
            top: 5px;
            width: 1px;
            height: 12px;
            background-color: #DCDDE2;
          }
        }
      }
    }
  }
}

.change_pw {
  padding: 24px 24px;
}

.terms {
  h3.terms__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
  }
  h4.terms__title {
    margin: 24px 0 8px;
  }
}